# Sanal Ortam
venv/
/venv/

# Python cache
__pycache__/
*.pyc

# IDE ve OS'a özel dosyalar
.idea/
.vscode/
.DS_Store

# Veri ve Yükleme Klasörleri
# Bu klasörler kullanıcıya özel ve potansiyel olarak hassas veriler içerir.
fatura/
fatura_png/
fatura_uploads/
dataset/

# Makine Öğrenmesi Veri Seti ve Model
# Bu klasörler büyük boyutludur ve depoya dahil edilmemelidir.
layoutlm_dataset/
layoutlm_quick_model/

# Çıktı ve Raporlar
# Bu klasörler program her çalıştığında yeniden oluşturulur.
test_reports/

# Log dosyaları
*.log
